version: '3.3'
services:
  tagd-res-api:
    &tagd-res-api
    volumes:
      - '../../../packages/core:/packages/core'
  tagd-res-api-queue:
    &tagd-res-api
    volumes:
      - '../../../packages/core:/packages/core'
  tagd-res-api-schedule:
    &tagd-res-api
    volumes:
      - '../../../packages/core:/packages/core'